function alien.draw 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 8176
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 28700
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 16378
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 32765
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 15481
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 11353
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 11353
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 15481
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 6193
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 1
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 32765
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 15482
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 28700
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 6192
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 4064
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 97
    add
    push constant 1
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 129
    add
    push constant 1
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 161
    add
    push constant 1
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 193
    add
    push constant 1
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 225
    add
    push constant 1
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 257
    add
    push constant 1
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 289
    add
    push constant 1
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 321
    add
    push constant 1
    call Memory.poke 2
    pop temp 0
    push constant 0
    return